<div class="row">
  <!-- <div *ngFor="let product of products">
    
  </div> -->
  <div class="col-md-6">

    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="mb-2 form-group">
        <label for="title">Title</label>
        <input #title="ngModel" required [(ngModel)]="product.title" name="title" id="title" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
          Title is required.
        </div>
      </div>
    
      <div class="mb-2 form-group">
        <label for="price">price</label>
        <div class="input-group">
          <span class="input-group-text">&#8358;</span>
          <input #price="ngModel" required [(ngModel)]="product.price" name="price" id="price" type="number" class="form-control" [min]="0">
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors?.['required']">Price is required.</div>
          <div *ngIf="price.errors?.['min']">Price should be 0 or higher.</div>
    
        </div>
      </div>
    
      <div class="mb-2 form-group">
        <label for="category">Category</label>
        <select #category="ngModel" required [(ngModel)]="product.category" name="category" id="category" class="form-control">
          <option value=""></option>
          <option *ngFor="let c of categories$ | async" [value]="c?.['category']">
            {{ c?.['name'] }}
          </option>
        </select>
        <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
          Category is required.
        </div>
      </div>
    
      <div class="mb-2 form-group">
        <label for="imageUrl">Image URL</label>
        <input #imageUrl="ngModel" required [(ngModel)]="product.imageUrl" name="imageUrl" id="imageUrl" type="text" class="form-control" url>
        <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
          <div *ngIf="imageUrl.errors?.['required']">Image URL is required.</div>
          <div *ngIf="imageUrl.errors?.['url']">Please enter a valid URL.</div>
    
        </div>
      </div>
      <button class="mb-3 me-2 btn btn-primary">Save</button>
      <button type="button" (click)="delete()" class="mb-3 btn btn-danger">Delete</button>
    
      
    </form>
  </div>

  <div class="col-md-6">
    <product-card [product]="product" [show-actions]="false" [shopping-cart]="cart"></product-card>
  </div>
</div>

